body{
    overflow: hidden;
}


.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #ffffff;
    width: 1920px;
    height: 1080px;
    position: relative;
}

.desktop .overlap-group {
    position: absolute;
    width: 701px;
    height: 161px;
    top: 173px;
    left: 668px;
    margin-bottom: 0px;
}

.desktop .group {
    position: absolute;
    width: 79px;
    height: 74px;
    top: 87px;
    left: 490px;
    margin-top: -55px;
}

.desktop .text-wrapper {
    position: absolute;
    width: 700px;
    top: 3px;
    left: 1px;
    transform: rotate(-0.55deg);
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: #000000;
    font-size: 140px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    margin-top: -55px;
}

.desktop .overlap {
    position: absolute;
    width: 366px;
    height: 329px;
    top: 438px;
    left: 804px;
    margin-top: -35px;
}

.desktop .grommet-icons {
    position: absolute;
    width: 54px;
    height: 55px;
    top: 274px;
    left: 239px;
  
}

.desktop .memory-play {
    position: absolute;
    width: 127px;
    height: 95px;
    top: 40px;
    left: 152px;
 
}

.desktop .text-wrapper-2 {
    position: absolute;
    width: 186px;
    top: 0;
    left: 0;
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: #000000;
    font-size: 100px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.desktop .text-wrapper-3 {
    position: absolute;
    width: 194px;
    top: 107px;
    left: 12px;
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: #000000;
    font-size: 100px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.desktop .text-wrapper-4 {
    position: absolute;
    width: 356px;
    top: 214px;
    left: 10px;
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: #000000;
    font-size: 94px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.desktop .ph-info {
    position: absolute;
    width: 78px;
    height: 79px;
    top: 158px;
    left: 186px;

}

.desktop .p {
    position: absolute;
    width: 453px;
    top: 54px;
    left: 783px;
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -30px;
}

.desktop .text-wrapper-2:hover, .text-wrapper-3:hover ,.text-wrapper-4:hover{
    color: #b5b5b5;


}