:root {
    --background-color: #d9d9d9;
    --font-color: #000000;
    --font-family: "Just Me Again Down Here";
  }
  
  body {
    overflow: hidden;
    margin: 0;
  }
  
  .desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .desktop .rectangle {
    width: 600px;
    height: 500px;
    top: 290px;
    left: 660px;
    border-radius: 20px;
    position: absolute;
    background-color: var(--background-color);
    margin-top: -60px;
    overflow: hidden;
    border: 1.5px solid black;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 400px;
    height: 138px;
    top: 36px;
    left: 747px;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 371px;
    top: 0;
    left: 0;
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: var(--font-color);
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .group {
    position: absolute;
    width: 74px;
    height: 75px;
    top: 38px;
    left: 326px;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 856px;
    height: 184px;
    top: 859px;
    left: 583px;
    margin-top: -70px;
  }
  
  .desktop .btn-ri {
    width: 200px;
    height: 100px;
    border-radius: 80px;
    position: absolute;
    background-color: var(--background-color);
    transition: transform 0.3s ease;
  }
  
  .desktop .btn-numri {
    width: 200px;
    height: 100px;
    border-radius: 80px;
    position: absolute;
    background-color: var(--background-color);
    cursor: pointer;
    transition: transform 0.3s ease;
    left: 0;
  }
  
  .desktop .btn-riQ {
    position: absolute;
    width: 275px;
    top: 23px;
    left: 63px;
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: var(--font-color);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .desktop .btn-numriQ {
    position: absolute;
    width: 275px;
    top: 21px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--font-color);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    transition: transform 0.3s ease;
    left: 39px;
  }
  .desktop .vector {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35px;
    left: 105px;
  }
  
  .desktop .img {
    position: absolute;
    width: 40px;
    height: 41px;
    top: 33px;
    left: 137px;
  }
  
  .desktop .btn-play {
    width: 200px;
    height: 103px;
    border-radius: 80px;
    position: absolute;
    background-color: var(--background-color);
    transition: transform 0.3s ease;
    left: 0;
  }
  
  
  .desktop .btn-playQ {
    position: absolute;
    width: 1px;
    top: 19px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--font-color);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    transition: transform 0.5s ease;
    left: 75px;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    width: 243px;
    top: -6px;
    left: 1549px;
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: var(--font-color);
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 40px;
  }
  
  .desktop .p {
    position: absolute;
    width: 423px;
    top: -1px;
    left: 13px;
    font-family: "Just Me Again Down Here";
    font-weight: 400;
    color: var(--font-color);
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -2px;
  }
  

  
  .desktop .btn-ri-wrapper {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 0;
    left: 0;
  }
  
  .desktop .btn-numri-wrapper {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 0;
    left: 542px;
  }
  
  .desktop .btn-play-wrapper {
    position: absolute;
    width: 200px;
    height: 103px;
    top: 0;
    left: 277px;
  }
  
  
  .desktop .btn-numri-wrapper:hover {
    transform: translateY(-5px);
  }
  
  .desktop .btn-ri-wrapper:hover {
    transform: translateY(-5px);
  }
  
  .desktop .btn-play-wrapper:hover {
    transform: translateY(-5px);
  }

  .desktop .rectangle video {
    width: 90%;
    height: 90%;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: -10px;
    object-fit: cover; 
}



 